<%- include('../partials/header') %>

<main class="main" id="familyMain">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
            <% data.forEach(adv => { %>
                <div class="col">card h-100 joke-card">
                    <h2 class="card-title setup">
                        <%= adv.message %>
                    </h2>
                    <footer class="card-footer">
                        <p class="card-text">Click for
                            <a href="/family/<%= adv.id %>" class="joke-link">punchline"</a>
                        </p>
                        </footer>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>




<%- include('../partials/footer') %>